<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name= "Selenium.Listeners"/>
	</listeners>
  <test thread-count="5" name="LoginPage">
    <classes>
      <class name="Selenium.homePage"/>
      
    </classes>
  </test> 
  <test thread-count="5" name="Validate Title">
    <classes>
      
      <class name="Selenium.validateTitle"/>
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
